version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: postgres-biblio
    environment:
      POSTGRES_DB: bibliothequeuniv
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local
